@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 147 197 253; /* blue-300 */
    --content: 31 41 55; /* gray-800 */
    --primary: 255 255 255; /* white */
    --secondary: 243 244 246; /* gray-100 */
    --accent: 217 249 157; /* lime-200 */
    --accent-content: 13 148 136; /* teal-700 */
  }

  .dark {
    --background: 26 26 26; /* #1a1a1a */
    --content: 255 255 255; /* white */
    --primary: 42 42 42; /* #2a2a2a */
    --secondary: 58 58 58; /* #3a3a3a */
    --accent: 163 230 53; /* lime-500 */
    --accent-content: 236 252 203; /* lime-100 */
  }
}

@keyframes pokemon-shrink {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(0, 20px) scale(1);
  }
  50% {
    transform: translate(0, 0) scale(1);
    filter: brightness(1) contrast(1) grayscale(0) drop-shadow(0 0 -5vw white);
  }
  100% {
    filter: brightness(0) contrast(1) invert(1) grayscale(1)
      drop-shadow(0 0 20vw white);
    transform: translate(0, 0) scale(0.5);
  }
}

@keyframes pokemon-grow {
  0% {
    filter: brightness(2);
    transform: translate(0, 0) scale(0.5);
  }
  100% {
    filter: brightness(1);
    transform: translate(0, 0) scale(1);
  }
}

.animate-pokemon-shrink {
  animation: pokemon-shrink 1s forwards ease-in-out;
}

.animate-pokemon-grow {
  animation: pokemon-grow 0.5s forwards ease-in-out;
}

@keyframes throw {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -50vh) scale(0.5) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes nice-throw {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(0, -60vh) scale(1.1);
  }
  50% {
    transform: translate(0, -50vh) scale(0.5) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes great-throw-left {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-15vw, -60vh) scale(0.9);
  }
  50% {
    transform: translate(0, -50vh) scale(0.5) rotate(-360deg);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes great-throw-right {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(15vw, -60vh) scale(0.9);
  }
  50% {
    transform: translate(0, -50vh) scale(0.5) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes excellent-throw-left {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-25vw, -60vh) scale(0.9);
  }
  50% {
    transform: translate(0, -50vh) scale(0.5) rotate(-720deg);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes excellent-throw-right {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(25vw, -60vh) scale(0.9);
  }
  50% {
    transform: translate(0, -50vh) scale(0.5) rotate(720deg);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.animate-bounce-slow {
  animation: bounce-slow 2s infinite ease-in-out;
}

.animate-bounce-slow-and-mirro * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.pokeball-container {
  touch-action: none;
}

.pixelated {
  image-rendering: pixelated;
}

.pixelated-font {
  font-family: "Tiny5", sans-serif;
}

.pokemon-legendary-text {
  text-shadow: 0 0 1px white, 0 0 10px white, 0 0 15px #ff0000,
    0 0 20px #ffff00, 0 0 25px #ffff00, 0 0 30px #ff0000, 0 0 35px #ff0000;
}

.pokemon-legendary-shadow {
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px #ff0000,
    0 0 20px #ffff00, 0 0 5px #ffff00, 0 0 8px #ff0000;}